html {
  background-color: #050016;
  overflow-x: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.상단바 {
  width: 1000px;
}

.배경 {
  width: 1200px;
  position: relative;
  background-color: #050016;
  top: 0px;
  left: 150px;
}

.로고 {
  width: 200px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.설명 {
  background-color: #f3f3ff;
  width: 300px;
  height: 380px;
  border: 1px solid #050016;
  border-radius: 20px;
  position: absolute;
  left: 0;
  top: 120px;
  text-align: left;
  padding: 15px;
  line-height: 1.5;
  letter-spacing: -0.1em;
  font-family: "Roboto", sans-serif;
  hyphens: auto;
}

.스크롤 {
  background-color: #f3f3ff;
  border: 1px solid #050016;
  border-radius: 20px;
  position: absolute;
  top: 120px;
  left: 330px;
  width: 900px; /* container의 너비를 900px로 제한 */
  height: 500px; /* container의 높이를 500px로 제한 */
  overflow: auto; /* 스크롤 유지 */
  margin: 0 auto; /* 가운데 정렬 */
}

#짱긴거 {
  height: 2000px;
  top: 0px;
}

#중앙원 {
  display: flex;
  background-color: #050016;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 초기 회전 각도 설정 */
}

.일러프사 {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center 250px; /* 회전 축을 아래쪽 중앙으로 설정 */
  opacity: 0.5;

  transition: opacity 0.5s ease-in-out; /* 투명도 변경을 부드럽게 */
}

.화조도프사 {
  transform: rotate(0deg) translate(-100px) rotate(0deg);
}

.호작도프사 {
  transform: rotate(72deg) translate(-100px) rotate(-72deg);
}

.십장생도프사 {
  transform: rotate(144deg) translate(-100px) rotate(-144deg);
}

.어변성룡도프사 {
  transform: rotate(216deg) translate(-100px) rotate(-216deg);
}

.책가도 {
  transform: rotate(288deg) translate(-100px) rotate(-288deg);
}

.일러 {
  width: 300px;
  display: none;
}

.버튼 {
  background-color: #f3f3ff;
  width: 300px;
  height: 60px;
  border: 1px solid #050016;
  border-radius: 20px;
  position: absolute;
  left: 0px;
  top: 530px;
  color: #3333ff;
  text-align: right;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: -30px;
  letter-spacing: -0.1em;
  font-family: "Roboto", sans-serif;
  z-index: 6;
}

#메세지수 {
  width: 40px;
  height: 40px;
  background-color: #3333ff;
  color: #f3f3ff;
  position: relative;
  top: 0;
  left: 0px;
  transform: translate(-50%, 0%);
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  display: flex;
  border-radius: 100px;
  font-family: "Roboto", sans-serif;
}

.카톡 {
  background-color: #f3f3ff;
  width: 50px;
  height: 50px;
  border: 1px solid #050016;
  border-radius: 25px 25px 0px 0px;
  position: absolute;
  font-size: 1.2rem;
  top: 490px;
  left: 20px;
  z-index: 2;
}

.부적 {
  background-color: #f3f3ff;
  width: 50px;
  height: 50px;
  border: 1px solid #050016;
  border-radius: 25px 25px 0px 0px;
  position: absolute;
  font-size: 1.2rem;
  top: 490px;
  left: 60px;
  z-index: 2;
}
