body,
html {
  margin: 0;
  padding: 0;
  background-color: #050016;
  height: 750px;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.배경 {
  width: 1517px;
  height: 800px;
  position: relative;
  background-color: #050016;
  top: 0px;
  left: 0px;
}

.상단바 {
  width: 1160px;
  height: 40px;
  background-color: #f3f3ff;
  border: 1px solid #33f;
  border-radius: 20px;
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
}

.설정 {
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: #f3f3ff;
  border: 1px solid #33f;
  border-radius: 20px;
  top: 0px;
  left: 1160px;
}

.우측바 {
  width: 2%;
  height: 800px;
  position: absolute;
  background-color: #050016;
  border: 1px solid #33f;
  top: 0%;
  left: 0%;
  z-index: 10;
}

.설정 {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #f3f3ff;
  border: 1px solid #33f;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  z-index: 15;
}

.설정:hover {
  background-color: #33f;
}

.왼쪽바 {
  width: 20%;
  height: 80%;
  position: absolute;
  overflow: hidden;
  background: linear-gradient(-45deg, #050016, #33f);
  background-size: 400% 400%;
  border-radius: 0 20px 20px 0;
  top: 40px;
  left: 2%;
  animation: colorChange 6s ease infinite;
}

img {
  width: 100px;
}

.영상1 {
  height: 100%;
  top: 0;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

.영상2 {
  height: 100%;
  top: 0;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  transform: scaleX(-1);
}

.wave {
  opacity: 0.4;
  position: absolute;
  top: 3%;
  left: 50%;
  border: 1px solid #050016;
  width: 500px;
  height: 500px;
  -webkit-transform-origin: 50$ 48%;
  transform-origin: 50% 48%;
  border-radius: 43%;
  -webkit-animation: drift 5s infinite linear;
  animation: drift 5s infinite linear;
}

.wave.-three {
  -webkit-animation: drift 7s infinite linear;
  animation: drift 7s infinite linear;
}

.wave.-two {
  -webkit-animation: drift 10s infinite linear;
  animation: drift 10s infinite linear;
  opacity: 0.1;
  border: 1px solid #33f;
}

.wave2 {
  opacity: 0.4;
  position: absolute;
  top: -100px;
  left: -50%;
  border: 1px solid #050016;
  width: 500px;
  height: 500px;
  -webkit-animation-delay: 3s;
  -webkit-transform-origin: 50% 48%;
  transform-origin: 50% 48%;
  border-radius: 43%;
  -webkit-animation: drift 8s infinite linear;
  animation: drift 8s infinite linear;
}
.wave2.-three {
  -webkit-animation: drift 6s infinite linear;
  animation: drift 6s infinite linear;
}

.wave2.-two {
  -webkit-animation: drift 12s infinite linear;
  animation: drift 12s infinite linear;
  opacity: 0.1;
  border: 1px solid #33f;
}

@-webkit-keyframes drift {
  from {
    -webkit-transform: rotate(0deg) scale(0, 0);
    transform: rotate(0deg) scale(0, 0);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(360deg) scale(2, 2);
    transform: rotate(360deg) scale(2, 2);
    opacity: 0;
  }
}

@keyframes drift {
  from {
    -webkit-transform: rotate(0deg) scale(0, 0);
    transform: rotate(0deg) scale(0, 0);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(360deg) scale(2, 2);
    transform: rotate(360deg) scale(2, 2);
    opacity: 0;
  }
}

.wave1 {
  opacity: 0.4;
  position: absolute;
  top: 3%;
  left: -50%;
  border: 1px solid #050016;
  width: 500px;
  height: 500px;
  -webkit-transform-origin: 50$ 48%;
  transform-origin: 50% 48%;
  border-radius: 43%;
  -webkit-animation: drift 4s infinite linear;
  animation: drift 4s infinite linear;
}
.wave1.-three {
  -webkit-animation: drift 6s infinite linear;
  animation: drift 6s infinite linear;
}

.wave1.-two {
  -webkit-animation: drift 10s infinite linear;
  animation: drift 10s infinite linear;
  opacity: 0.1;
  border: 1px solid #33f;
}

.wave3 {
  opacity: 0.4;
  position: absolute;
  top: 100px;
  left: 50%;
  border: 1px solid #050016;
  width: 500px;
  height: 500px;
  -webkit-animation-delay: 3s;
  -webkit-transform-origin: 50% 48%;
  transform-origin: 50% 48%;
  border-radius: 43%;
  -webkit-animation: drift 8s infinite linear;
  animation: drift 8s infinite linear;
}
.wave3.-three {
  -webkit-animation: drift 6s infinite linear;
  animation: drift 6s infinite linear;
  border: 1px solid #33f;
}

.wave3.-two {
  -webkit-animation: drift 12s infinite linear;
  animation: drift 12s infinite linear;
  opacity: 0.1;
  border: 1px solid #050016;
}

.오른쪽바 {
  width: 25%;
  height: 80%;
  position: absolute;
  overflow: hidden;
  background: linear-gradient(-45deg, #050016, #33f);
  background-size: 400% 400%;
  border: 1px solid #33f;
  border-radius: 20px;
  top: 40px;
  left: 77%;
  animation: colorChange 6s ease infinite;
}

@keyframes colorChange {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.중앙 {
  width: 55%;
  height: 80%;
  position: absolute;
  background-color: #050016;
  border: 1px solid #33f;
  border-radius: 20px;
  top: 40px;
  left: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Q {
  color: #f3f3ff;
  position: absolute;
  top: 50px;
  letter-spacing: -0.1em;
  font-family: "Roboto", sans-serif;
  hyphens: auto;
  font-size: 18px;
  text-align: center;
  animation-name: qanimation;
  animation-duration: 2s;
  animation-duration: ease-out;
  animation-direction: forward;
}

/* 키프레임 이름 = 애니메이션 이름 */
@-webkit-keyframes qanimation {
  0% {
    top: 80px;
    opacity: 0%;
  }
  100% {
    top: 50px;
    opacity: 100%;
  }
}

ul {
  list-style: none;
  color: #33f;
  position: absolute;
  margin: 40px;
  padding: 0;
}

li {
  list-style: none; /* Disable the normal item numbering */
  position: relative; /* Create a positioning context */
  margin: 16px; /* Give each list item a left margin to make room for the numbers */
  padding: 8px 24px; /* Add some spacing around the content */
  background: #f3f3ff;
  border-radius: 20px;
  justify-content: center;
  letter-spacing: -0.1em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  align-items: center;
  animation-name: lianimation;
  animation-duration: 3s;
  animation-duration: ease-out;
  animation-direction: forward;
}

/* 키프레임 이름 = 애니메이션 이름 */
@-webkit-keyframes lianimation {
  0% {
    top: 90px;
    opacity: 0%;
  }
  50% {
    top: 30px;
    opacity: 0%;
  }
  100% {
    top: 0px;
    opacity: 100%;
  }
}

.부적22 {
  z-index: 10;
  position: absolute;
  width: 800px;
  height: 400px;
  background-color: #f3f3ff;
  border: #33f 1px solid;
  border-radius: 20px;
  top: 100px;
  left: calc(50% - 400px);
  overflow: hidden;
  display: none;
}

.중앙원 {
  width: 300px;
  height: 300px;
  background: #050016;
  border-radius: 50%;
  position: absolute;
  top: 250px;
  left: calc(50% - 150px);
}

.illust {
  width: 100px;
  height: 100px;
  top: -50px;
  left: 100px;
  position: absolute;
  transform-origin: center 250px;
  opacity: 0;
}

#화조도 {
  display: block;
  transform: rotate(0);
  animation: rotate1 4s ease-in-out;
}
#십장생도 {
  display: block;
  transform: rotate(72deg);
  animation: rotate2 4s ease-in-out;
}
#호작도 {
  display: block;
  transform: rotate(144deg);
  animation: rotate3 4s ease-in-out;
}
#어변성룡도 {
  display: block;
  transform: rotate(216deg);
  animation: rotate4 4s ease-in-out;
}
#책가도 {
  display: block;
  transform: rotate(288deg);
  animation: rotate5 4s ease-in-out;
}

@-webkit-keyframes rotate1 {
  0% {
    -webkit-transform: rotate (0);
    opacity: 100%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    -webkit-transform: rotate(1080deg);
    opacity: 0%;
  }
}

@-webkit-keyframes rotate2 {
  0% {
    -webkit-transform: rotate (72deg);
    opacity: 100%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    -webkit-transform: rotate(1152deg);
    opacity: 0%;
  }
}

@-webkit-keyframes rotate3 {
  0% {
    -webkit-transform: rotate (144deg);
    opacity: 100%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    -webkit-transform: rotate(1224deg);
    opacity: 0%;
  }
}

@-webkit-keyframes rotate4 {
  0% {
    -webkit-transform: rotate (216deg);
    opacity: 100%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    -webkit-transform: rotate(1296deg);
    opacity: 0%;
  }
}

@-webkit-keyframes rotate5 {
  0% {
    -webkit-transform: rotate (288deg);
    opacity: 100%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    -webkit-transform: rotate(1368deg);
    opacity: 0%;
  }
}

.일러 {
  z-index: 100;
  width: 250px;
  position: absolute;
  top: 120px;
  left: calc(50% - 125px);
}

#화조도3d {
  animation: 등장 4.5s ease-in-out;
  display: none;
}

#십장생도3d {
  animation: 등장 4.5s ease-in-out;
  display: none;
}

#호작도3d {
  animation: 등장 4.5s ease-in-out;
  display: none;
}

#책가도3d {
  animation: 등장 4.5s ease-in-out;
  display: none;
}

#어변성룡도3d {
  animation: 등장 4.5s ease-in-out;
  display: none;
}

@-webkit-keyframes 등장 {
  0% {
    opacity: 0%;
  }

  50% {
    opacity: 0%;
    top: 130px;
  }
  75% {
    opacity: 0%;
    top: 115px;
  }

  100% {
    top: 120px;
    opacity: 100%;
  }
}

.부적메세지 {
  display: none;
  z-index: 100;
  width: 250px;
  height: 50px;
  position: absolute;
  background-color: #f3f3ff;
  padding: 5px;
  border: #33f 1px solid;
  border-radius: 20px;
  top: 440px;
  left: calc(50% - 125px);
  color: #050016;
  border: #3333ff 1px solid;
  letter-spacing: -0.1em;
  font-family: "Roboto", sans-serif;
  hyphens: auto;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  align-items: center;
  animation: appearance 5s ease-in-out;
}

@-webkit-keyframes appearance {
  0% {
    opacity: 0%;
  }

  50% {
    opacity: 0%;
    top: 420px;
  }
  90% {
    opacity: 0%;
    top: 460px;
  }

  100% {
    top: 450px;
    opacity: 100%;
  }
}

.버튼 {
  display: none;
}

#홈 {
  background-color: #f3f3ff;
  width: 25px;
  height: 25px;
  border: 1px solid #33f;
  border-radius: 15px;
  font-size: 15px;
  position: absolute;
  top: 30px;
  left: 2px;
  z-index: 10;
  padding: 0 0.2px 0.2px 0;

  animation-name: button1;
  animation-duration: 0.7s;
  animation-duration: ease-in;
  animation-direction: forward;
}

/* 키프레임 이름 = 애니메이션 이름 */
@-webkit-keyframes button1 {
  0% {
    top: 0;
    opacity: 0%;
  }
  100% {
    top: 30px;
    opacity: 100%;
  }
}

#홈:hover {
  background-color: #33f;
}
