html {
  background-color: #050016;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.배경 {
  width: 1200px;
  position: relative;
  background-color: #050016;
  top: 20px;
  left: 150px;
}

.상단바 {
  width: 1160px;
  height: 40px;
  background-color: #f3f3ff;
  border: 1px solid #050016;
  border-radius: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.설정 {
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: #f3f3ff;
  border: 1px solid #050016;
  border-radius: 20px;
  top: 0px;
  left: 1160px;
}

.왼쪽바 {
  width: 400px;
  height: 560px;
  position: absolute;
  background-color: #050016;
  border: 1px solid #f3f3ff;
  border-radius: 20px;
  top: 40px;
  left: 0px;
}

.중앙 {
  width: 400px;
  height: 560px;
  position: absolute;
  background-color: #f3f3ff;
  border: 1px solid #050016;
  border-radius: 20px;
  top: 40px;
  left: 400px;
}

img {
  width: 100px;
}

.오른쪽바 {
  width: 400px;
  height: 560px;
  position: absolute;
  background-color: #050016;
  border: 1px solid #f3f3ff;
  border-radius: 20px;
  top: 40px;
  left: 800px;
}

.홈 {
  background-color: #f3f3ff;
  width: 40px;
  height: 40px;
  border: 1px solid #050016;
  border-radius: 25px;
  font-size: 1.2rem;
  position: absolute;
  top: 0px;
  left: 1100px;
  z-index: 10;
}

.카톡 {
  background-color: #f3f3ff;
  width: 40px;
  height: 40px;
  border: 1px solid #050016;
  border-radius: 25px;
  font-size: 1.2rem;
  position: absolute;
  top: 0px;
  left: 1150px;
  z-index: 10;
}
